<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="d-flex" method="post" action="/course/course/addcoursestudent">

      <select name="listCourse"> 
        {{#each course}}
          <option value="">{{coursename}}</option>
        {{/each}}
      </select>

      {{!-- {{#each account}} --}}
            <input class="form-control me-2"  aria-label="Search" name="email">
            <button class="btn btn-outline-success" type="submit" value="Search">Search</button>
      {{!-- {{/each}} --}}
    </form>
    
    <table class="table table-striped">
    <thead>
      <tr>
        <th>username</th>
        <th>email</th>
      </tr>
    </thead>

      <tbody>
        {{#each account}}  
          <tr>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td><a href="/course/delete?id={{_id}}">Delete</a></td>
            <td><a href="/update?id={{_id}}">Update</a></td>
          </tr>
        {{/each}}
      </tbody>
  </table>
</body>
</html>